<h3>OrderNotifier#shipped</h3>

<p>
  This is just to let you know that we've shipped your recent order:
</p>

<table>
  <tr><th colspan="2">Qty</th><th>Description</th></tr>
    <%= @order.line_items.each do |item| %>
       <%= sprintf("%2d x %s", item.quantity, truncate(item.product.title, length: 50)) %>
    <% end %>
</table>
